/* Default styles */
code {
  font-size: 16px;
  line-height: 1.4;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  code {
    font-size: 14px;
    line-height: 1.6;
  }
}    







p {
    color: #ff00c3;      /* Changes the text color to blue */ 
    font-size: 16px;  /* Sets the font size to 16 pixels */
  }


  h1{

  
    color: blueviolet;
  }

  /* Main Header (top of page title) START */


  .secondary-header, .main-header {
    text-align: center;
    padding: 0;
  }

  /*makes the top header of page glow up* START*/
  .main-header{
    font-size: 24px; /* Adjust font size as needed */
    color:rgb(32, 249, 112); /* Text color */
    text-shadow: 0 0 10px rgb(239, 28, 186); /* Initial text shadow */  
    animation: glowAnimation 1.5s infinite alternate; /* Animation settings */
  }
  
  @keyframes glowAnimation {
    0% {
      text-shadow: 0 0 10px rgb(248, 19, 110);
    }
    100% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
  }

/*makes the top header of page glow up* END/

    /* Main Header (top of page title) END */


  .navbar {
    justify-content: space-between;
    background-color: #bc05e0; /* Change to your preferred background color */
    padding: 10px 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Center content horizontally */
  }

  
.nav-links {
  display:inline-flex
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
    justify-content: center; /* Center content horizontally */
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;*/
  
}

.nav-links li:first-child {
 margin-left: 0;
}



.nav-links a {
  color: #fff; /* Change to your preferred text color */
  text-decoration: none;
  font-size: 16px;
}

.content {
  margin-top: 80px; /* Ensure content appears below the fixed navigation bar */
  padding: 20px;
}

 /* ------------------------------------------------------------------- */
 /* Design for table columns being shaded and white*/

 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #1c27fa;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #9e32b9;
  }


/* Makes page background black (everything inside the body tag) */

body {

    background-color: black;
    
  }


  a:hover {
    color: rgb(255, 0, 166); /* Change to the desired hover color on contents in a tag under list  */
  }

  tr{
color: #fff;


  }

  ul li {
    margin-bottom: 10px; /* Adjust the desired spacing */
  }
  
  /* Made the words page 1 and page 2 be underlined aside from the rest of the list items*/
  .underline {
    text-decoration: underline;
  }


  /* ------------------------------------------------------------------- */
  /*  makes box around entire page so its not too big to view */
  .border-container {
    border: 2px solid black; /* Change the width and color as needed */
    padding: 20px; /* Add some padding to separate the border from the content */
    ;background-color: hsl(0, 0%, 1%);
  }
  
